section {
  padding: 20px;
}
.hero-container {
  display: flex;
  flex-direction: column;
}
.hero-img {
  max-width: 400px;
  align-self: center;
}
.hero-heading {
  margin-bottom: 6px;
}
.hero-paragraph {
  margin-top: 0;
}

/* .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  flex-direction: column;
}

.hero-img {
  width: 400px;
  height: 232px;
  border-radius: 9px;
  padding: 60px;
}

.hero-heading {
  font-style: poppins, "sans-serif";
} */
