.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
}

.card-single {
  position: relative;
  display: flex;
  flex-direction: column;
}
/* .card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
} */
.card-image {
  max-width: 176px;
  height: 235px;
  object-fit: cover;
  border-radius: 9px;
}
/* .card-image {
  width: 176px;
  height: 235px;
} */
.card-star {
  width: 15px;
  height: 15px;
}
.card-rating {
  display: flex;
  align-items: center;
  /* background-color: blue; */
}
.card-rating > p {
  margin: 5px;
}
.card-rating > p > span {
  color: #918e9b;
}
.card-title {
  margin-bottom: 4px;
  margin-top: 0;
}
.card-rate {
  margin-top: 0;
}
.card-rate > span {
  font-weight: bold;
}
.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  border-radius: 4px;
  padding: 2px 2px;
  font-weight: bold;
}
